
body{ text-align: center; width:1300;}
#cont{ width: 1300px; height: 30px; margin: 2px auto 0 auto; background-color: cornsilk;}
#encabezado{ height: 32px; margin-bottom: 40px; width: 1300px;background-color:gainsboro}
#contenido{ width: 1300px; margin-bottom: 50px;background-color: gainsboro;}
#pie{ clear: both; height: 296px;}
body {font-family: Arial  Helvetica, sans-serif;}

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 13px;    margin: 45px; float: left;  height:200px ; width: 1200px; text-align: center;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 10px;  width: auto;   background: #e8edff;  border-bottom: 1px solid #fff;
    color: #669;    border-top: 5px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }