


.topnav {
	background-color: #333;
	overflow: hidden;
	display: inline
  }
  

  .topnav a {
	
	color: #f2f2f2;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 17px;
	display: inline
  }
  

  .topnav a:hover {
	background-color: #ddd;
	color: black;
	display: inline
  }
  
 
  .topnav a.active {
	background-color: #4CAF50;
	color: white;
	display: inline
  }
  

  .topnav .icon {
	display: inline
  }