body{ text-align: center; }
#cont{ width: 600px; margin: 0 auto 0 auto; text-align: center; background-color: cornsilk;}
#encabezado{ height: 32px; margin-bottom: 40px; width: 600px;background-color:gainsboro}
#contenido{ width: 600px; float: left; margin-bottom: 70px;background-color: gainsboro;}
#pie{ clear: both; height: 296px;}